{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <br/>
        <fieldset class="form-group">
            <legend class="mb-2">Регистрация нового пользователя</legend>
            <div class="border-bottom mb-4">
                <small class="text-muted">
                    Если вы уже зарегистрированы в системе,<a class="ml-3" href="{% url 'login' %}">войдите со своим логином и паролем</a>
                </small>
            </div>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-success btn-small" type="submit">Подтвердить</button>
        </div>
    </form>
</div>
{% endblock content %}
